@tailwind base;
@tailwind components;
@tailwind utilities;

/* One way of customization */
/* @layer base {
  h1 {
    font-family: cursive;
    text-decoration: underline;
    @apply hover:bg-slate-600;
  }

  h3 {
    font-family: monospace;
    color: green;
  }
}
@layer utilities {
  .spacing {
    padding: 20px;
    color: blue;
    line-height: 2;
  }
} */
